<div id="container">
  <table></table>
  <div class="black">
    <table>
      <tr>
        <td>
          <h4>登录EatWhat</h4>
        </td>
        <td>
          <a href="#">新用户注册</a>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="text" placeholder="请输入您的用户名" class="uname" name="uname" [(ngModel)]="uname">
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="password" placeholder="请输入您的密码" class="upwd" name="upwd" [(ngModel)]="upwd">
        </td>
      </tr>
      <tr>
        <td class="autoLogin">
          <input type="checkbox">自动登录
        </td>
        <td>
          <a href="#">忘记密码？</a>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="button" value="登录" class="login" (click)="signin()">
        </td>
      </tr>
    </table>
  </div>
</div>
